# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
yarn.lock

# coverage
/coverage
*.lcov
*.clover
*.html

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#test snapshots
**/**/__snapshots__

#android and ios folders
# as there's no custom config in those files, android and ios folders are ignored
./android
./ios